.container {
  display: flex;
  flex-direction: column;
}

.box {
  width: 200px;
  height: 200px;
}

.green {
  background-color: #00cec9;
  position: relative;
  left: 100px;
  top: 50px;
}

.bule {
  position: relative;
  background-color: #0984e3;
}

.bule > span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.orange {
  position: relative;
  background-color: #fab1a0;
}

.orange > span {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.red {
  background-color: #ff7675;
}
