.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #efefef;
  margin-bottom: 15px;
}

.container {
  display: 300px;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 300px;
  height: 500px;
  background-size: cover;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.bg1 {
  background-image: url(img1.jpg);
}

.bg2 {
  background-image: url(img1.jpg);
}
.bg3 {
  background-image: url(img1.jpg);
}
.bg4 {
  background-image: url(img1.jpg);
}

.category {
  color: white;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.name {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.info {
  color: white;
}
