section {
  display: grid;
  grid-template-columns: repeat(3.1fr);
  gap: 5px;
  width: 100vw:
  height: 100vh;
  justify-self: 
}

.item {
 position: absolute;

}

.item > 
.card {
  font-style: bold;
  text-align: center;
}

.minibox {
  background-color: black;
  color: white;
}
