@font-face {
  font-family: "SacheonHangGong-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/SacheonHangGong-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.first {
  height: 100vh;
  background-image: url("sava-bobov-eVa2FK83K6w-unsplash\ \(1\).jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.first > .contents > h2 {
  text-align: center;
  color: white;
  font-size: 80px;
  line-height: 1.2;
  font-family: "SacheonHangGong-Regular";
}

.next {
  color: black;
}
