.card {
  width: 200px;
  height: 300px;
  border-radius: 6px;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.info {
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
